---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Career</h1>
      <p>
        1. You are not your work. It is rather easy to get overly attached to
        your own work, and take critics on your work as personal attacks.
        However, these critques may be people trying to improve the project as a
        whole. If you get overly attached to your own work, it may cause you to
        become overly defensive. For example, the project may need to pivot due
        to some new inputs and the work that you have done has to be discarded.
        If you do not detach yourself from your work, you may see this as an
        attack onto yourself rather than an move to ensure that the project
        succeeds.
      </p>
      <p>
        2. Your collegues are not your friends. They can be friendly but the
        issue comes down to a potential clash in interests. Lets say there is
        only one slot available for promotion, would you two resolve it
        ammicably? Lets raise the stakes, picture this, their partner just got
        laid off recently and could really use the upcoming bonus. However, the
        project you all were involved in did not perform, and now they are on
        the hook for the results. They can either take the blame, and put
        themselves in a deeper hole financially, or they can deflect the blame
        to someone else (you). The idea here is not to ask you to question
        everyone's morals, but to help you realise that within the workforce,
        the best way to maintain relationships is to ensure that your interests
        are aligned. Generally, the best way to maintain a friendship between
        collegues is if one leaves, then there will no longer be any potential
        clash in interests.
      </p>
      <p>
        3. Make Documentation your best friend. Similar to the example before,
        you would not have to worry as much if every step of your involvement
        were documented. You just have to pull up the records to defend yourself
        in the event of any conflicts. You may also need to bring these up if
        there are people taking credit for your work. In general, by documenting
        your involvement at work, it helps to protect yourself and reduce future
        headaches.
      </p>
    </main>
    <Footer />
  </body>
</html>
