---
import BaseHead from "../components/BaseHead.astro";
import Footer from "../components/Footer.astro";
import Header from "../components/Header.astro";
import { SITE_DESCRIPTION, SITE_TITLE } from "../consts";
---

<!doctype html>
<html lang="en">
  <head>
    <BaseHead title={SITE_TITLE} description={SITE_DESCRIPTION} />
  </head>
  <body>
    <Header />
    <main>
      <h1>Investing</h1>
      <p>
        Here, the main focus would be on investing for retirement. There are
        groups of people who are focused on this and there is the FIRE movement
        Financial Independence Retire Early.
      </p>
      <p>
        The go to investments are government bonds & ETFs, particularly the
        S&P500
      </p>
    </main>
    <Footer />
  </body>
</html>
