---
import { SITE_TITLE } from "../consts";
import HeaderLink from "./HeaderLink.astro";
---

<header>
  <nav>
    <div class="internal-links">
      <HeaderLink href="/">Home</HeaderLink>
      <HeaderLink href="/credit-cards">Credit Cards</HeaderLink>
      <HeaderLink href="/investing">Investing</HeaderLink>
      <HeaderLink href="/taxes">Taxes</HeaderLink>
      <HeaderLink href="/insurance">Insurance</HeaderLink>
      <HeaderLink href="/career">Career</HeaderLink>
      <HeaderLink href="/resources">Other Resources</HeaderLink>
    </div>
  </nav>
</header>
<style>
  header {
    margin: 0;
    padding: 0 1em;
    background: white;
    box-shadow: 0 2px 8px rgba(var(--black), 5%);
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  h2 {
    margin: 0;
    font-size: 1em;
  }

  h2 a,
  h2 a.active {
    text-decoration: none;
  }
  nav {
    display: flex;
    align-items: center;
    justify-content: space-between;
  }
  nav a {
    padding: 1em 1em;
    color: var(--black);
    border-bottom: 4px solid transparent;
    text-decoration: none;
  }
  nav a.active {
    text-decoration: none;
    border-bottom-color: var(--accent);
  }

  @media (max-width: 720px) {
  }
</style>
